@import "color-constants";

.brownish-grey {color: $brownish-grey;}
.orangey-red {color: $orangey-red;}
.charcoal-grey {color: $charcoal-grey;}
.brown-grey {color: $brown-grey;}
.white {color: $white;}
.very-light-pink {color: $very-light-pink;}
.little-grey {color: $little-grey;}

