@import "../../../../styles/guide/misc";

:host {
    @include height-100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks-purchasing-subscription {
    position: relative;

    & > h3 {
        font-family: "Avenir", sans-serif;
        font-size: 32px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: center;
        margin: 0;
    }

    &::before {
        content: url("/assets/img/ic-key-note-light-gray.svg");
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
    }
}
