
.red-text {
    color: #ca2f2f;
}

.devider {
    font-size: 26px;
}

.form-check {
    margin-top: .2rem;
}

.form-check-group {
    display: flex;
    margin: 10px 0
}

.payment-icon {
    font-size: 20px;
}

.check-label {
    margin-left: 8px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin-left: 10px
}
