<div class="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-12">
                <h2 class="h2">About</h2>
                <ng-container content>
                    <div class="row">
                        <div class="subpage-content text-only col-11">
                            <h2 class="h-base text-uppercase">What is pannotation?</h2>
                            <div class="page-block">
                                <p>PanNotation is an online subscription-based portal that hosts a wealth of information about the steelpan and it facilitates the purchasing and downloading of music scores. Users can upload music scores or any other materials to our site. Composers and arrangers will earn per download of music scores. This site was created to fulfill a need within the steelpan community. Pannists around the world can now have a single location to upload and download music scores.</p>
                            </div>

                            <h2 class="h-base text-uppercase">HOW CAN I UPLOAD MY MUSIC SCORE TO THE SITE FOR PURCHASE?</h2>
                            <div class="page-block">
                                <p>Users can upload music scores via an email sent to our team. Our team attains permission from
                                    the composer and arranger (if the user does not function as one of these roles) with assistance
                                    from the Copyright Organization of Trinidad and Tobago (COTT). Once approvals are given, the
                                    user will be given pricing guidelines, a price is decided, and the score is then made available on
                                    the site. Once another user purchases the score, the cost of the music score is divided between
                                    the composer, arranger, and PanNotation. Percentages will be made clear to the user before
                                    upload is complete. If the user is the composer and there is no arranger, then the cost of the
                                    music score is divided between the composer and PanNotation.</p>
                            </div>
                            <h2 class="h-base text-uppercase">WHAT MATERIALS DO SUBSCRIBERS HAVE ACCESS TO?</h2>
                            <div class="page-block">
                                <ul>
                                    <li><span>Music Scores</span></li>
                                    <li><span>Lead Sheets</span></li>
                                    <li><span>Academic Publications</span></li>
                                    <li><span>Audio Recordings</span></li>
                                    <li><span>Steelband Data from Around the World</span></li>
                                    <li><span>Historical Data</span></li>
                                    <li><span>Podcasts</span></li>
                                </ul>
                                <p class="m-t-20">Subscribers can upload any of these materials to the site via email. Our team conducts a few
                                    quality checks and then makes the material available for subscribers on the site.</p>
                            </div>
                            <h2 class="h-base text-uppercase">WHY USE PANNOTATION?</h2>
                            <div class="page-block">
                                <h4 class="text-uppercase">CURRENT SITUATION</h4>
                                <ul>
                                    <li><span>Access to pan scores are limited</span></li>
                                    <li><span>Limited local publishing</span></li>
                                    <li><span>Arrangers aren’t able to legally sell arrangements of internationally popular music</span></li>
                                    <li><span>Little advertising for local pan businesses</span></li>
                                    <li><span>Limited Not-for-Profits</span></li>
                                </ul>
                                <h4 class="text-uppercase">PANNOTATION’S SOLUTION</h4>
                                <ul>
                                    <li><span>Access pan scores worldwide</span></li>
                                    <li><span>Local composers have a platform</span></li>
                                    <li><span>Arrangers can now sell arrangements of any genre because PanNotation will work on permissions on behalf of the user.</span></li>
                                    <li><span>One location for academic publications</span></li>
                                    <li><span>Advertising for local businesses available</span></li>
                                    <li><span>PanNotation’s Not-for-Profit</span></li>
                                </ul>
                            </div>
                            <h2 class="h-base text-uppercase">WHO IS ON THE PANNOTATION TEAM?</h2>
                            <div class="page-block">
                                <ul>
                                    <li><span>Mr. Mark Loquan</span></li>
                                    <li><span>Dr. Mia Gormandy-Benjamin</span></li>
                                    <li><span>Mr. Kavish Seetahal</span></li>
                                    <li><span>Mrs. Pat Loquan</span></li>
                                    <li><span>Ms. Jamila Reid</span></li>
                                    <li><span>Mr. Mark-Anthony Baptiste</span></li>
                                </ul>
                            </div>
                            <h2 class="h-base text-uppercase">PANNOTATION’S NOT-FOR-PROFIT</h2>
                            <div class="page-block">
                                <p>All proceeds from the PanNotation site will be dedicated to the Not-for-Profit arm of
                                    PanNotation. By subscribing to PanNotation, you will be contributing to the funding of steelpan
                                    scholarships, grants, transcriptions services, financial assistance with international performances, and the funding of other steelpan projects. PanNotation not only aims to create a platform for composers, arragners, educators, and pannists to share and earn from hard work rendered, but we also aim to give back to our communities and assist in creating new opportunities for pannists around the world.</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>